body{
    margin: 0;
    padding: 0;
    background: hsl(180deg 10% 10%);
}

.head{
    display: flex;
    margin: 0.5rem 0.6rem;
    
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    font-family: 'Signika Negative', sans-serif;
    background: hsl(180deg 10% 10%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(56, 58, 58),
                0px 0px 10px rgb(52, 54, 54),
                inset 0px 0px 30px rgb(27, 29, 29),
                inset 0px 0px 30px rgba(184, 48, 48, 0.1); 
    color: aqua;
}
.head img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid hsl(180deg 10% 10%) ;
                                             
}

.option{
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    
    
    
}

.option select{ 
    
    width: 125px;
    height: 25px;
    color: aqua;
    font-size: 15px;
    background: #000;

    box-shadow: 0px 0px 10px rgb(56, 58, 58),
    0px 0px 10px rgb(52, 54, 54),
    inset 0px 0px 30px rgb(27, 29, 29),
    inset 0px 0px 30px rgba(184, 48, 48, 0.1); 
    border: none;

} 

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 99%;
    height: 350px;
    justify-content: center;
    transition: 2s all ease;
   
    margin: 2.5rem 0.6rem;
    box-shadow: 0px 0px 10px rgb(56, 58, 58),
                0px 0px 10px rgb(52, 54, 54),
                inset 0px 0px 30px rgb(27, 29, 29),
                inset 0px 0px 30px rgba(184, 48, 48, 0.1); 

   
}

.flex-item{
    background: white;
    border: 1pt solid black;
    width: 10px;
   
}



#a_size{
    
    width: 120px;
    height: 25px;
    color: aqua;
    font-size: 15px;
    background: #000;
    border: 2px solid hsl(180deg 10% 10%);
    box-shadow: 0px 0px 10px rgb(56, 58, 58),
    0px 0px 10px rgb(52, 54, 54),
    inset 0px 0px 30px rgb(27, 29, 29),
    inset 0px 0px 30px rgba(184, 48, 48, 0.1); 
}

#reset{
    
    width: 120px;
    height: 25px;
    color: aqua;
    font-size: 20px;
    background: #000;
    border: 2px solid hsl(180deg 10% 10%);
    box-shadow: 0px 0px 10px rgb(56, 58, 58),
    0px 0px 10px rgb(52, 54, 54),
    inset 0px 0px 30px rgb(27, 29, 29),
    inset 0px 0px 30px rgba(184, 48, 48, 0.1); 
}

#start{
    
    width: 120px;
    height: 25px;
    color: aqua;
    font-size: 20px;
    background: #000;
    border: 2px solid hsl(180deg 10% 10%);
    box-shadow: 0px 0px 10px rgb(56, 58, 58),
    0px 0px 10px rgb(52, 54, 54),
    inset 0px 0px 30px rgb(27, 29, 29),
    inset 0px 0px 30px rgba(184, 48, 48, 0.1); 
}



